h1 {
    margin-top: 200px;
    font-size: 50px;
    color: black;
    text-align: center; 
}

body {
    background-color: teal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}